.gradient-form {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.login-box {
  width: 100%;
  max-width: 900px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-left {
  padding: 3rem 2rem;
}

.login-right {
  background: #54b4d3;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login-right h4 {
  font-weight: 600;
}

.login-right p {
  font-size: 0.9rem;
}

.text-danger {
  font-weight: bold;
}
